.perfiles {
    width: 90px; 
    margin-bottom: 5px;
}

.shadow {
    box-shadow: 20px 20px 20px 20px black;
}
.roles{
    background-color: #F4F6F9; 
    padding: 10px 15px; 
    border-radius: 4px; 
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%); 
    cursor: pointer;
    
}
.roles:hover{
    background-color: #38a0ac26;
}
.select{
    border: 2px solid #38a0ac52;
}
.nombreRol{
    font-size: 12px; 
    font-weight: 400;
}